body {
    padding: 60;
    margin: 15;
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
  }

html {
    background: url(Main_bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
p{
  color: blanchedalmond;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide{
    display:none;
}
.show{
    display:block;
}
